{%extends 'FrontendBundle::layout.html.twig'%}
{%block contenido%} 
    <form action="{{path('anuncios_buscar_en_categoria', {'categoria': categoria})}}" method="post">
        <input type="text" class="span8" placeholder="Buscar..." name="buscar">
        <input type="hidden" value="{{categoria}}" name="categoria">
        <input class="btn btn-primary" type="submit" style="margin-bottom: 10px;" value="Buscar">
    </form>
    {%for anuncio in anuncios%}
        <div class="row-fluid">
            <div class="span2" style="text-align: center">
                <img src="{{asset('bundles/frontend/img/anuncios/')}}{{(anuncio.imagenes|length>0) ? anuncio.imagenes[0].imagen:'sin-img.png'}}" style="height: 80px; width: 80px">
            </div>
            <div class="span9">
                <a title="{{anuncio.asunto}}" href="{{path('anuncio_detalles', {'slugCategoria': anuncio.categoria.slug,'slugAnuncio':anuncio.slug})}}"><strong>{{anuncio.asunto|truncate(55,false,'...')}}</strong></a>
                <strong style="float: right; font-size: 11px">{{anuncio.fecha|localizeddate('full')}}</strong>
                <p>{{anuncio.descripcion?anuncio.descripcion|truncate(250,true,'...'):'Este anuncio no contiene ninguna descripción.'}}</p>
            </div>
            <div class="span1">
                <strong style="color: red">{{anuncio.precio}} {{anuncio.moneda}}</strong>
            </div>
            <hr style="margin: 2px 0 -8px" class="span12">
        </div>                   
    {%endfor%}
{%endblock%}
{%block javascripts%}
    {{parent()}}
    <script>       
        $('#m_{{categoria}}').addClass('active'); 
        $('.span9 a').tooltip();
    </script>
{%endblock%}